<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    {% load static %}
    <link rel="icon" href="{% static 'icons/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% block links %}{% endblock links %}
</head>

<body>
    <header>
        <div class="header-container">
            <!-- Логотип -->
            <div class="logo">
                <a href="/main"><img src="{% static 'images/logo.png' %}" alt="Логотип"></a>
            </div>

            <!-- Навигация -->
            <nav>
                <a href="/schedule">График</a>
                <a href="/menu">Меню</a>
                <a href="/mini-games">Мини-игры</a>
                <a href="/specialists">Сотрудники</a>
                <a href="/clue">Документы</a>
                {% if user.is_superuser and user.is_staff %}
                <a href="/test-results">Результаты тестов</a>
                {% endif %}
                {% if user.is_authenticated and user.is_staff %}
                <a href="/admin">⚙</a>
                {% endif %}
            </nav>


            <!-- Иконка профиля -->
            <div class="profile-icon">
                <a href="/personal">
                    <img src="{% static 'images/profile-icon.png' %}" alt="Профиль">
                </a>
                <span><a href="/personal" class="profile-label">Аккаунт</a></span>
            </div>
        </div>
    </header>

    <main>
        <div>{% block content%}{% endblock content %}</div>
    </main>

    <footer>
        <div class="footer-container">
            <!-- Контакты -->
            <div class="footer-contacts">
                <p>Контакты:</p>
                <p>+375 25 704 11 21</p>
                <p>+375 25 968 38 20</p>
            </div>

            <!-- Социальные сети -->
            <div class="footer-socials">
                <a href="https://t.me/hokaido_admin" class="social-icon">
                    <img src="{% static 'images/telegram-icon.png' %}" alt="Telegram">
                </a>
                <a href="https://www.instagram.com/tokyos.by?igsh=bHJhdmIxZ2plZjJy" class="social-icon">
                    <img src="{% static 'images/instagram-icons.png' %}" alt="Inst">
                </a>
            </div>
        </div>
    </footer>

    {% block scripts %}{% endblock scripts %}

    <button id="scrollToTopBtn" title="Наверх"></button> <!-- ▲ Unicode U+25B2 -->

    <script src="{% static 'js/scroll_button.js' %}"></script>
</body>
</body>


</html>