<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать Excel файл</title>
</head>
<body>
    <h1>Редактировать {{ excel_file.file.name }}</h1>
    <form method="post">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    {% for header in data.0 %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        {% for cell in row %}
                            <td><input type="text" name="data" value="{{ cell }}"></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit">Сохранить</button>
    </form>
</body>
</html>