{% extends "base.html" %}
{% load static %}

{% block title %}Пароль изменён | HOKAIDO{% endblock %}

{% block links %}
<link rel="stylesheet" href='{% static "css/personal.css" %}'>
{% endblock %}

{% block content %}
<div class="container">
    <div class="breadcrumb-container">
        <nav class="breadcrumb">
            <a href="/main"><b>Главная</b></a> &gt; <span><b>Пароль изменён</b></span>
        </nav>
    </div>

    <div class="password-change-success">
        <h1 class="form-title">Пароль успешно изменён!</h1>
        <div class="success-icon">
            <i class="fas fa-check-circle"></i>
        </div>
        <p class="success-message">
            Ваш пароль был успешно изменён. Теперь вы можете использовать новый пароль для входа в систему.
        </p>
        <a href="{% url 'login' %}" class="return-button">Вернуться в личный кабинет</a>
    </div>
</div>
{% endblock %}